node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

.git
.github
.gitignore
README.md

.env
logs

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

.DS_Store
.idea/
.vscode/